<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Guía</title>
</head>
<body>
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: sans-serif;
        }

        /* General Styles */
        .root {
            text-align: center;
            padding: 5px;
        }

        /* Logo */
        .logo-container {
            width: {{logo_size}}px;
            height: {{logo_size}}px;
            {{logo_align}}
        }

        .logo {
            margin-top: {{logo_margin_top}};
            margin-bottom: {{logo_margin_bottom}};
            width: {{logo_size}}px;
            height: {{logo_size}}px;
        }

        /* Logo */
        .barcode-container {
            width: {{barcode_size}}px;
            {{barcode_align}}
        }

        .barcode {
            margin-top: {{barcode_margin_top}};
            margin-bottom: {{barcode_margin_bottom}};
            width: {{barcode_size}}px;
        }