<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Guía</title>
</head>
<body>
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: sans-serif;
        }

        /* General Styles */
        .root {
            text-align: center;
            padding: 5px;
        }

        /* Logo */
        .logo-container {
            width: {{logo_size}}px;
            height: {{logo_size}}px;
            {{logo_align}}
        }

        .logo, .no-logo {
            margin-top: {{logo_margin_top}};
            margin-bottom: {{logo_margin_bottom}};
            width: {{logo_size}}px;
            height: {{logo_size}}px;
        }

        /* .logo { border-radius: 10px; } */

        .no-logo {
            font-size: 30px;
            font-weight: 600;
            margin: 0;
        }