<div class="root">
    <div class="logo-container">
        {{logo}}
    </div>
    <p class="courier-name">{{courier_name}}</p>
    <p class="address">{{address}}</p>
    <p class="phone-number">{{phone_number}}</p>
    <div class="barcode">{{barcode}}</div>
    <p>
        <span class="guide-domain">{{guide_domain}}</span><span class="waybill-number">{{waybill_number}}</span>
    </p>
    <div class="waybill-text-reference">{{waybill_text_reference}}</div>
    <p>
        <span class="weight">Peso: {{weight}} lb</span>
        | <span class="created-at">Fecha: {{created_at}}</span>
    </p>
    <p class="tracking-number">{{tracking_number}}</p>
    <p class="reference">{{reference}}</p>
    <p class="category">Ref. SERVICIO: {{category}}</p>
    <p class="shipping-address">{{shipping_address}}</p>
    <p>
        <span class="shipping-method">{{shipping_method}}</span>
        - <span class="client-code">{{client_code}}</span>
    </p>
    <p class="client-name">{{client_name}}</p>
</div>